$color: blue;
@media (min-width: 415px)
{
  body
  {
  text-align: center;
  }
  #img
  {
  padding-top: 109px;
  width: 296px;
  padding-left: 52px;
              }
              #q
              {
              width: 550px
              }
              .GoogleSearch
              {
                  border: 0;
                  height: 35px;
                  width: 137px;
                  margin-top: 13px;
                  margin-right: 6px;
                  font-size: 14px;
                  font-family: 'Poppins' sans-serif
              }
              .GoogleSearch:hover
              {
                  border: 1px ridge rgb(211, 211, 211);
                  border-radius: 4px;
              }
              #p
              {
                  font-size: 11px;
                  margin-top: 30px;
              }
              a:link {
    text-decoration: none;
    color: $color;
  }
  
  a:visited {
    text-decoration: none;
    color: $color;
  }
  
  a:hover {
    text-decoration: underline;
    color:  $color;
  }
  
  a:active {
    text-decoration: underline;
    color: $color;
  }
  #T
  {
    border-radius: 50%;
    float: right;
    margin-top: 7px !important;
    margin-right: 21px !important;
  }
}
@media (max-width: 414px)
{
  body
  {
  background-color: rgb(235, 113, 0);
  }
}
